body {
    background-color: bisque;
}

.main-contain {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height:100vh;
}

.linkz {
    color:red;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 1px;
}

.linkz:hover {
    color:blue;


}